@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    
    background-color: #F5F5F5;
}
.main{
    width: 90%;
    margin: 0 auto;
}
header{
    
    width: 100%;
    padding: 20px 5px 10px 5px;
    margin-bottom: 80px;

}
header .nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
nav .nav-button button{
    padding: 10px 15px;
    color: #006A50;
    /* border: none; */
    border: 1px solid #006A50;
    border-radius: 7px;
    
}
nav .nav-button button:hover{
    background-color: #098f6d;
    color: white;
    transition: .7s;
}
header .hero-content{
    margin-top: 20px;
    height: 560px;
    width: 100%;
    background-color: #C6E4D6;
    padding: 80px 100px;
}
.hero-content .hero-item .hero-text{
    font-size: 40px;
}
.hero-content .hero-text{
    /* padding: 0px 15px 0px 0px; */
    padding: 10px 0;
    
}
.hero-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
}
.hero-content .hero-btn{
    padding: 20px 25px;
    margin-top: 24px;
    border-radius: 8px;
    background-color: #006a50;
    color: white;
    border: none;
}
.hero-content .hero-btn:hover{
    background:#038666;
    transition: .3s;
}

main>h2{
    font-size: 45px;
    font-weight: 800;
    padding-left: 15px;
    
}
main section{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 24px 24px;
    height: 350px;
    width: 100%;
}
main section .box{
    height: 250px;
    width: 350px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
main>section .box{
    padding: 35px 40px;
}
main>section .box img{
    height: 64px;
    width: 64px;
} 


 .one1 .box1{
    margin-top: 50px;
    height: 350px;
    width: 535px;
    background-color: rgba(144, 182, 247, 0.486);
    border-radius: 16px;
    padding: 60px 50px;
    
}
.one1 .box:hover{
    background-color: #00926ea8 !important;
    color: white;
    transition: .3s;
}
/* .one1-btn:hover{
    box-shadow: .5px .5px .5px 5px #5490F5;
} */

.one1 .box1 button{
    margin-top: 20px;
    padding: 13px 20px;
    border-radius: 8px;
    background-color: #5490F5;
    color: white;
    border: none;
}
.pain .quote{
    
    margin-top: 10px;
    height: 240px;
    width: 100%;
    /* background-color: #ffffff; */
    border-radius: 10px;
    background-image: url("../assets/quote-bg.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
}
.pain .quote .younus{
    margin-top: 15px;
    padding: 15px 20px;
}
.pain .quote p{
    padding: 10px;
}
main .option{
    /* margin-top: -70px;    */
   height: 300px;
   width: 100%;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   }
main .option-one{
 /* margin-top: -70px;    */
height: 285px;
width: 100%;
border: 1px solid gray;

}

.option .option-one .opt{
    height: 60px;
    width: 100%;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.option .option-one .matters .mtr1{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}
.option .option-one .matters .mtr2{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid gray;
}
.option .option-one .matters .mtr3{
    width: 100%;
    height: 75px;
}
.option .option-one .matters .mtr1 .mtr0{
    width: 142px;
    height: 100%;
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.news{
    margin-top: 40px;
    height: 400px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    gap: 70px;
    /* justify-content: space-around; */
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
}
.news .news1{
    
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.news .news1 img{
    border-radius: 40px;
    background-position: cover;
    height: 100%;
    width: 100%;
    padding: 20px 20px;
}
.news .news2{
    
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}
.news .news2 .news-text{
    font-size: 40px;
}
.news .news2 .news-text-1{
    margin-top: 17px;
}
.news .news2 .news-text-2{
    margin-top: 20px;
}
.news .news2 .news-btn{
    margin-top: 20px;
    padding: 13px 25px;
    background-color: #006A50;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 18px;

}

.news .news2 .news-btn:hover{
    background:#038666;
    transition: .3s;
}
.donate{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    text-align: center;
}
.donate .taka{
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
}
.donate .donate-h{
    font-size: 28px;
}
.donate .donate-p{
    margin-top: 30px;
    padding: 0 30px;
}
.donate .taka1{
    height: 150px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(56, 56, 56);
}
.donate .taka2{
    height: 150px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(56, 56, 56);
    background-color: #006A50;
    color: white;
}
.donate .taka3{
    height: 150px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(56, 56, 56);
}
.donate .taka4{
    height: 150px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(56, 56, 56);
}
.donate .taka1:hover{
    background-color: #006a50;
    color: white;
    transition: .3s;
}
.donate .taka2:hover{
    background-color: #006a50;
    color: white;
    transition: .3s;
    box-shadow: 2px 2px 10px 10px gray;
}
.donate .taka3:hover{
    background-color: #006a50;
    color: white;
    transition: .3s;
}
.donate .taka4:hover{
    background-color: #006a50;
    color: white;
    transition: .3s;
}
input[type=text]{
    margin-top: 35px;
    background-color: #ffffff;
    border: none;
    height: 50px;
    width: 70%;
    text-align: center;
    outline: none;
    border-bottom: 2px solid #006a50;
    font-size: 20px;
}
.done{
    margin-top: 35px;
    background-color:#006A50;
    padding: 15px 25px;
    color: white;
    border: none;
    border-radius: 10px;
}
.done:hover{
    background-color: #013629;
    transition: .3s;
}

.subscribe{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    /* background-color: #006a507a; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe .subscribe-box{
    width: 100%;
    height: 320px;
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 20px 20px;
}
input[type=email]{
    margin-top: 35px;
    background-color: #ffffff;
    border: none;
    height: 50px;
    width: 700px;
    text-align: center;
    outline: none;
    font-size: 20px;
}

.subscribe .sub{
    padding: 17px 20px;
    border: none;
    background-color: #006A50;
    color: white;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    bottom: 50px;
    left: 340px;
}
.sub:hover{
    background-color: #038666;
}

footer{
    margin-top: 350px;
    background-color: white;
    height: 170px;
    text-align: center;
    padding: 30px 0;
    
}
.ftr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ftr1{
    width: 500px;
    border-bottom: 1px solid gray;
    padding: 20px;
}
.ftr2{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.facebook img:hover{
    transform: scale(1.3);
    transition: all ease-in-out .3s;
}
.instagram img:hover{
    transform: scale(1.3);
    transition: all ease-in-out .3s;
}
.twiter img:hover{
    transform: scale(1.3);
    transition: all ease-in-out .3s;
}
.box:hover{
    background-color: #C6E4D6 !important;
    color: white;
}